/* CSS Document */

/* ----------------------------------------------------------------------------------- */

/* Style for Top Navigation Bar & Its elements  : ---  Start --- */ 

#topNavBar {
	top: 0;
	z-index: 1;
	position: fixed;
	background-color: #232f3e;
	color: white;
	width: 100%;
	left: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#topNavBarTitle {
	float: left;
	margin-left: 30px;
	margin-right: 30px;
	
	font-family: Georgia;
	font-size: 30px;
	font-style: italic;
	color: white;
	line-height: 50px;
	align-content: center;
	text-decoration: none;
	transition: .5s ease;
}



.topNavBarLinksLeft {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.topNavBarLinksLeft li{
	float: left;
}

.topNavBarLinksRight {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
	float: right;
}

.topNavBarLinksRight li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: .2s ease;
    
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: #232f3e;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    border-radius: 2px;
    transition: 1s ease;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    min-height: 110px;
    background-color: #f9f9f9;
}

 .topNavBarSearchBox {
	margin-top: 10px;
	height: 30px;
	color: dodgerblue;
	border: 0px;
	border-radius: 2px;
	font-size: 14px;
	background-color: #FFDFFF;
	
}


/* Style for Top Navigation Bar & Its elements  : ---  End --- */ 

/* ----------------------------------------------------------------------------------- */

/* Style for Left Side Share Bar  : ---  Start --- */ 

.shareBarLeft {
	left: 0;
	height: 50%;
	margin-top: 200px;
	overflow: hidden;
	z-index: 1;
	position: fixed;
	width: 50px;
	background-color: white;
	border: 1px grey;
	transition: .5s ease;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa {
	width: 100%;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	height: 25%;
}

.shareBarLeft a {
	font-size: 40px;
}

#shareFont {
	line-height: 300%;
	font-size:30px;
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
  	background: #3B5998;
  	color: white;
}

.shareBarLeft:hover {
	width: 100px;
}


.fa-twitter {
  	background: #55ACEE;
  	color: white;
}

.fa-google {
  	background: #dd4b39;
  	color: white;
}

.fa-whatsapp {
  	background: #34af23;
  	color: white;
}


/* Style for Left-side share bar  : ---  End --- */ 

/* ----------------------------------------------------------------------------------- */

/* Style for Body & its elements : ---  Start --- */

.mainBody {
	background-color: rgba(255,255,255,1);
	padding-top: 25px;
	padding-bottom: 100px;
	
	margin-top: 50px;
	margin-bottom: 50px;
	
	border: 0.5px grey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 2px;
	width: 85%;
	height:400px;
	display: table;
}
.filter
{
	
	width: 85%;
	height:200px;
}
.mainfilter
{
	position:absolute;
	background-color:red;
	margin-left:22%;
	width:62%;
	height:200px;
}
.sidefilter
{
	position:absolute;
	background-color:blue;
	margin-left:0%;
	width:20%;
	height:200px;
}
.examlist
{

	width: 100%;
}

.copyrightDiv {
	text-align: center;
	font-size: 15px;
	font-family: arial;
	opacity: 0.5;
	padding: 25px 25px;
	color: white;
}

.headingBold {
	font-family: Georgia;
	font-size: 50px;
	font-weight: normal;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-style: italic;
}

.headingInfo {
	font-family: Georgia;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	margin: 50px 50px 50px 50px;
	font-style: italic;
	display: table-row;
	padding-bottom: 50px;
	text-justify: distribute-all-lines;
}

.horizontalSeparator {
	margin: 30px;
	padding: 20px;
	text-align: center;
	line-height: 65px;
	width: 100%;
	height: 20px;
	display: table-row;
}

body {
	background: rgba(170,255,255,1);
}

/* Style for Body & its elements : ---  End --- */

/* ----------------------------------------------------------------------------------- */

/* Style for Bottom Ticker : ---  Start --- */

#bottomTicker {
	left: 0;
	bottom: 0;
	height: 35px;
	overflow: hidden;
	z-index: 1;
	position: fixed;
	width: 100%;
	border: 1px grey;
	/*transition: .5s ease;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: red;
	line-height: 30px;
}

.marqueeAlt {
	animation-name: marquee;
	white-space: nowrap;
    animation-duration:25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation: marquee 30s linear infinite;
    overflow: visible;
	margin-top: 2px;
}

.marqueeAlt a {
 	height: 100%;
 	margin: 0;
	font-size: 15px;
	font-family: Verdana, Geneva, sans-serif;
 	text-decoration: none;
 	color: white;
}

.marqueeAlt:hover {
	animation-play-state: paused;
}

@keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

/* Style for Bottom Ticker : ---  End --- */

/* ----------------------------------------------------------------------------------- */

/* Style for Article Card : ---  Start --- */

.articleCard {
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	float: left;
	position: relative;
	margin-left: 1.6%;
	margin-right: 1.6%;
	margin-top: 50px;
	border-radius: 2px;
	display: table-cell;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
}

.articleCard a {
	text-decoration: none;
	text-align: center;
}


.articleCard:hover .imageCard {
  filter: blur(2px);
  filter: invert(100);
  
}

.articleCard:hover .container {
	background-color: slateblue;
}

.imageContainer {
  position: relative;
  width: 100%;
}

.imageCard {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  filter: invert(100);
}

.overlayCard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: slateblue;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.articleCard:hover .overlayCard {
  height: 100%;
  opacity: 0.5;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

div.container {
  text-align: center;
  padding: 10px 20px;
  color: white;
  background-color: dodgerblue;
  font-family: Verdana;
  font-size: 15px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: 0.3s ease;
}

/* Style for Article Card : ---  End --- */

/* ----------------------------------------------------------------------------------- */

/* Style for Small Card : ---  Start --- */

.smallCard {
	text-align: center;
	float: left;
	color: #D40055;
	background-color: #F2F2F2;
	position: relative;
	width: 23%;
	height: 60px;
	margin: 10px;
	border-radius: 2px;
	overflow: hidden;
	transition: 0.3s ease;
	transition-property: all;
	display: table-cell;
}

.smallCard a {
	text-decoration: none;
	font-size:16px;
	font-family: Verdana, Geneva, sans-serif;
	color: #757575;
}

.smallCardLinkBox {
	width: 100%;
	height: 100%;
	line-height: 50%;
	padding-top: 25px;
}

.smallCard:hover {
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-color: #f8f8f8;
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: #222;
		
}

.smallCard:hover a{
	color: #2A0000;
}

/* Style for Small Card : ---  End --- */

#trending {
	max-width: 100%;
	padding-left: 3%;
	padding-top: 60px;
	height: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 2px;
	background-color: #fff;	
}

.footerBar {
	background-color: #232f3e;
	height: 500px;
	display: table;
	width: 100%;
	text-align: centre;
	
}

.footerBarColumn {
	color: white;
	float: left;
	position: relative;
	margin-right: 1.6%;
	margin-top: 50px;
	border-radius: 2px;
	display: table-cell;
	overflow: hidden;
	padding: 30px;
	text-wrap: normal;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	opacity: 0.9;
}	
 
.footerBarColumn a{
	text-decoration: none;
	color: white;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-wrap: normal;
	cursor: pointer;
}

.footerBarColumn a:hover{
	text-decoration:underline;


.footerBarColumn p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.footerForm {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 10px;
}